body {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    height: 100vh; /* Prend toute la hauteur de la fenêtre */
    
    
    background-image: url('/home/ciel/Téléchargements/projet_iptv/iptv.jpg'); /* Mettre ici le bon chemin relatif vers l'image */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    background-size: cover; /* Permet à l'image de couvrir tout le body sans déformation */
    background-position: center; /* Centre l'image sur la fenetre*/
}

h1 {
    color: black;
} 


div {
    width: 25%; /* Largeur du div */
    padding: 10px; /* Espacement à l'intérieur du div (taille du div) */
    border: 2px solid #070101; /* Bordure autour du div */
    border-radius: 10px; /* Coins arrondis */
    background-color: #f9f9f9; /* Couleur de fond douce */
}